doctype html
.col-md-12.form-element-container(
  id = 'input{{index}}'
)
  .col-md-6
    .form-group.form-element(
      ng-click = 'input.editable = true'
    )
      span.col-md-5.control-label
        label(
          ng-bind = 'input.label'
        )
      .col-md-7
        label.checkbox-inline(
          ng-repeat = 'checkbox in input.checkboxes'
        )
          input(
            value = '{{checkbox.value}}'
            type = 'checkbox'
          )
          span(
            ng-bind = 'checkbox.label'
          )

  form.form-horizontal.col-md-6.form-element-editable(
    ng-show = 'input.editable'
    role = 'form'
  )
    button.close(
      aria-hidden = 'true'
      ng-click = 'input.editable = false'
      type = 'button'
    ) &times;
    br
    .form-group
      label.col-sm-3.control-label Etiqueta
      .col-sm-9
        input.form-control(
          ng-model = 'input.label'
          placeholder = 'Etiqueta'
        )
    #checkboxes.panel-group
      .panel.panel-default(
        ng-repeat = 'checkbox in input.checkboxes'
      )
        .panel-heading.pointer(
          data-parent = '#checkboxes{{input.id}}'
          data-target = '#checkbox{{input.id}}{{$index}}'
          data-toggle = 'collapse'
        )
          h4.panel-title
            a Radio {{ $index + 1 }}
        .panel-collapse.collapse(
          id = 'checkbox{{input.id}}{{$index}}'
        )
          .panel-body
            label.col-sm-3.control-label Etiqueta
            .col-sm-9
              input.form-control(
                ng-model = 'checkbox.label'
                placeholder = 'Etiqueta'
              )
            label.col-sm-3.control-label Valor
            .col-sm-9
              input.form-control(
                placeholder = 'Valor'
                ng-model = 'checkbox.value'
              )
          .panel-footer
            button.btn.btn-danger.btn-block(
              ng-click = 'removeRadioOrCheckbox()'
            )
              | Eliminar

    button.pull-right.btn.btn-success(
      ng-click = 'addRadioOrCheckbox()'
    ) Agregar
    .form-group
      .col-sm-offset-3.col-sm-10
          .checkbox
            label
              input(
                ng-model = 'input.required'
                type = 'checkbox'
              )
            |Requerido
    button.btn.btn-block.btn-danger(
      ng-click = 'remove()'
    ) Eliminar
