doctype html
.col-md-12.form-element-container(
  id = 'input{{index}}'
)
  .col-md-6
    .form-group(
      ng-click = 'input.editable = true'
    )
      span.col-md-5.control-label
        label(
          ng-bind = 'input.label'
        )
        label(
          ng-show = 'input.required'
        ) *
      .col-md-7
        .input-group
          span.input-group-addon
            .checkbox-form
              input(
                type = 'checkbox'
                name = 'checkbox-form'
              )
          input.form-control(
            type = '{{input.input_type}}'
            placeholder = '{{input.placeholder}}'
          )
      p.clearfix

  form.form-horizontal.col-md-6.form-element-editable(
    role = 'form'
    ng-show = 'input.editable'
  )
    button.close(
      type = 'button'
      aria-hidden = 'true'
      ng-click = 'input.editable = false'
    ) &times;
    br
    .form-group
      label.col-sm-3.control-label Etiqu+
      .col-sm-9
        input.form-control(
          placeholder = 'Etiqueta'
          ng-model = 'input.label'
        )
    .form-group
      label.col-sm-3.control-label Pis
      .col-sm-9
        input.form-control(
          placeholder = 'Pista'
          ng-model = 'input.placeholder'
        )
    .form-group
      label.col-sm-3.control-label Tipoiu
      .col-sm-9
        select.form-control(
          ng-model = 'input.input_type'
          ng-options = 'input.value as input.label for input in inputTypes'
        )
    .form-group
      .col-sm-offset-3.col-sm-10
          .checkbox
            label
              input(
                type = 'checkbox'
                ng-model = 'input.required'
              )
            |Requerido
    button.btn.btn-block.btn-danger(
      ng-click = 'remove()'
    ) Eliminar
