doctype html
.form-group
  label(
    ng-bind = 'input.label'
  )
  label(
    ng-show = 'input.required'
  ) *
  | &nbsp
  label.checkbox-inline(
    ng-repeat = 'checkbox in input.checkboxes'
  )
    input(
      value = '{{checkbox.value}}'
      type = 'checkbox'
      ng-model = 'values[generateInputName(input)][$index]'
    )
    span(
      ng-bind = 'checkbox.label'
    )
