doctype html
.form-group
  label(
    ng-bind = 'input.label'
  )
  label(
    ng-show = 'input.required'
  ) *
  select.form-control(
    ng-model = 'values[generateInputName(input)]'
    ng-options = 'option.label as option.label for option in input.options'
    required = 'input.required'
  )
