doctype html
.col-md-12.form-element-container(
  id = 'input{{index}}'
)
  .col-md-6
    .form-group.form-element(
      ng-click = 'input.editable = true'
    )
      .col-md-5
        .input-group
          input.form-control(
            type = 'file'
          )
          p.clearfix
  form.form-horizontal.col-md-6.form-element-editable(
    role = 'form'
    ng-show = 'input.editable'
  )
    button.close(
      aria-hidden = 'true'
      ng-click = 'input.editable = false'
      type = 'button'
    ) &times;
    br
    .form-group
      label.col-sm-3.control-label Valor
      .col-sm-9
        input.form-control(
          ng-model = 'input.value'
          placeholder = 'Prefijo'
        )
    .form-group
      label.col-sm-3.control-label Tipo
      .col-sm-9
        select.form-control(
          ng-model = 'input.class'
          ng-options = 'input.value as input.label for input in inputButtonTypes'
        )
    button.btn.btn-block.btn-danger(
      ng-click = 'remove()'
    ) Eliminar
