doctype html
.col-md-12.form-element-container(
  id = 'input{{index}}'
)
  .col-md-6
    .form-group(
      ng-click = 'input.editable = true'
    )
      span.col-md-5.control-label
        label(
          ng-bind = 'input.label'
        )
        label(
          ng-show = 'input.required'
        ) *
      .col-lg-7
        select.form-control(
          ng-model = 'ok'
          ng-options = 'option.label for option in input.options'
        )

      p.clearfix

  form.form-horizontal.col-md-6.form-element-editable(
    role = 'form'
    ng-show = 'input.editable'
  )
    button.close(
      type = 'button'
      aria-hidden = 'true'
      ng-click = 'input.editable = false'
    ) &times;
    br
    .form-group
      label.col-sm-3.control-label Etiqueta
      .col-sm-9
        input.form-control(
          placeholder = 'Etiqueta'
          ng-model = 'input.label'
        )
      br
      br
      .input-group( ng-repeat = 'select in input.options')
        input.form-control(
          ng-model = 'input.options[$index].label'
            type = 'text'
        )
        span.input-group-btn
          button.btn.btn-danger(
            type = 'button'
            ng-click = 'removeOption()'
          ) X
        br

    .form-group
      label.col-sm-3.control-label Opciones
      .col-lg-6
        .input-group
          input.form-control(
            ng-model = 'input.labelOption'
          )
      .col-md-3
        button.btn.btn-success(
          ng-click= 'addOptions()'
        ) Agregar
    .form-group
      .col-sm-offset-3.col-sm-10
          .checkbox
            label
              input(
                type = 'checkbox'
                ng-model = 'input.required'
              )
            |Requerido
    button.btn.btn-block.btn-danger(
      ng-click = 'remove()'
    ) Eliminar
